.Hook {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px 0;
  width: 80%;
}

.Hook-text.finished {
  text-decoration: line-through;
}

.close {
  border: 1px solid #FFF;
  margin-right: 20px;
  padding: 5px 11px;
  text-decoration: none !important;
  &:hover {
    background: #000;
    cursor: pointer;
  }
}

@supports (display: grid) {
  .Hook {
    -webkit-grid-column: span 8;
    grid-column: span 8;
  }
}
